/* le menu de navigation */
main > img {
    flex-basis: 80%;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

article {
    flex-basis: 30%;
    flex-grow: 1;
}

main > article > img {
    width: 50%;
}