main > h2{
    flex-basis: 80%;
}

main > section{
    flex-basis: 80%;
}

aside{
    flex-basis: 15%;
}

section{
    display: flex;
    flex-wrap: nowrap;
}

article{
    flex-basis:40%;
    flex-grow: 0;
    margin: 0.5em;
    padding: 1.5em;
}

main{
    display: flex;
    flex-wrap: wrap;
}

aside > img {
    width: 100%;

}