/* Règles générales */
header {
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 0%;
}

header>nav>ul {
    display: flex;
    flex-basis: 100%;
}


nav>ul>li {
    flex-basis: 700px;
    list-style-type: none ;
}

h1,h2,h3{
    color: rgb(0, 0, 177);
}

header{
    background-color: rgb(204, 204, 204);
}

section > article{
    background-color: rgb(170, 211, 218);
}

footer > img{
       width: 1em;
       height: 1em
}

footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(204, 204, 204);
    bottom: 0%;
}

.footerdessert{
    position:absolute;
    bottom:0;
    right: 0%;
    left: 0%;
}
